.movie-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(252, 238, 216);
  align-items: center;
  padding-bottom: 20px;
  padding-left: 80px;
}

.movie-item {
  display: flex;
  margin: 20px;
  align-content: center;
}

.header {
  background-color: rgb(252, 238, 216);
  color: black;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

footer {
  background-color: darkslategray;
  padding: 30px;
}
